* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #800780;
}
body {
  font-size: 1.5rem;
  scroll-behavior: smooth;
} /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
/* @media (min-width: 320px) {

} */
@media (min-width: 320px) {
  /* smartphones, Android phones, landscape iPhone */
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem;
    box-shadow: rgb(0, 0, 0, 30%) 0px 5px 8px;
    background-color: white;
    margin-bottom: 5rem;
  }
  .logo {
    width: 13rem;
  }
  .flexDis {
    display: flex;
  }
  .menu {
    width: 3rem;
  }
  .btn {
    border-radius: 0.5rem;
    padding: 0.4rem 0.6rem;
    margin-right: 0.5rem;
    font-family: "Poppins", sans-serif;
  }
  .btn-light {
    border-color: #af5faf;
    background: none;
    color: #800780;
  }
  .btn-fill {
    border: none;
    background: linear-gradient(to right, #b16ece, #8757c1);
    color: white;
  }
  main {
    background-color: #ecd9ec;
    text-align: center;
  }
  .card-light {
    margin: 2rem auto;
    border-radius: 0.5rem;
    box-shadow: rgb(0, 0, 0, 25%) 0px 5px 5px;
    width: 75%;
    padding: 2rem 2rem;
    color: #800780;
    background-color: white;
  }
  .card-fill {
    margin: 3rem auto;
    border-radius: 0.5rem;
    box-shadow: rgb(0, 0, 0, 25%) 0px 5px 5px;
    padding: 1rem 5rem;
    color: white;
    background-color: #800780;
    width: 60%;
  }
  .wid {
    width: 97%;
    margin: 0 auto;
  }
  .main-sec {
    background-color: #dcbadc;
    padding: 2rem 6rem;
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: rgb(0, 0, 0, 25%) 0px -5px 5px;
  }
  .just {
    text-align: justify;
    font-size: 1.4rem;
  }
  .stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* justify-items: center; */
    text-align: center;
    background-color: #7e267e;
    padding: 2rem 8rem;
    color: #7e267e;
    gap: 1rem;
  }
  .stats div {
    display: grid;
    align-content: center;
    background: linear-gradient(125deg, #fefefe, #a76ca7);
    height: 10rem;
    border-radius: 2rem;
    box-shadow: rgb(0, 0, 0, 25%) 0px 5px 5px;
  }
  .comp {
    transform: scale(2.5) translate(0%, -35%);
    border-radius: 0.5rem;
  }
  .card-shine {
    background-color: #dcbadc;
    margin-top: 12rem;
    padding: 2rem 6rem 2rem;
    border-radius: 0.5rem;
    box-shadow: rgb(0, 0, 0, 25%) 0px 5px 5px;
  }
  .money-back {
    margin-top: 2rem;
    color: white;
    padding: 2rem 6rem 2rem;
    border-radius: 0.5rem;
    box-shadow: rgb(0, 0, 0, 25%) 0px 5px 5px;
    background: linear-gradient(to right, #b46fcf, #8657c1);
  }
  .categories {
    display: flex;
    width: 97%;
    overflow: scroll;
  }
  .categories button {
    border-radius: 4rem;
    border: none;
    display: flex;
    gap: 0.5rem;
    color: #a64ea6;
    background-color: #dec2de;
    margin-left: 2rem;
  }
  .down {
    width: 2rem;
    height: 2rem;
  }
  .course-container {
    background-color: #efe4ef;
  }
  .courses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* justify-items: center; */
    text-align: center;
    padding: 2rem 8rem;
    gap: 1rem;
  }
  .courses div {
    height: 15rem;
    background-color: #7e267e;
    width: 15rem;
    color: white;
    border-radius: 0.5rem;
  }
  .courses div img {
    width: 95%;
  }
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
