* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #800780;
}
body {
  font-size: 1.7rem;
  scroll-behavior: smooth;
} /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
/* @media (min-width: 320px) {

} */
/* @media (min-width: 320px) { */
/* smartphones, Android phones, landscape iPhone */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 1rem 0;
  box-shadow: rgb(0, 0, 0, 30%) 0px 5px 8px;
  background-color: white;
  margin-bottom: 5rem;
}
.logo {
  width: 13rem;
}
.flexDis {
  display: flex;
}
.menu {
  width: 3rem;
  margin-left: 1rem;
}
button {
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}
button:active {
  box-shadow: none;
}
.btn {
  border-radius: 0.5rem;
  padding: 0.4rem 0.6rem;
  margin-right: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}
.btn-light {
  border: 0.15rem solid #800780;
  background: none;
  color: #800780;
  font-weight: 700;
}
.btn-fill {
  border: none;
  background: linear-gradient(to right, #b16ece, #8757c1);
  color: white;
}
main {
  background-color: #ecd9ec;
  text-align: center;
}
main p {
  font-size: 1.4rem;
  font-weight: 500;
}
.card-light {
  margin: 3rem auto;
  border-radius: 0.5rem;
  box-shadow: rgb(0, 0, 0, 25%) 0px 5px 5px;
  width: 75%;
  padding: 2rem 0rem;
  color: #800780;
  background-color: white;
}
.card-fill {
  margin: 3rem auto;
  border-radius: 0.5rem;
  box-shadow: rgb(0, 0, 0, 25%) 0px 5px 5px;
  padding: 1rem 2rem;
  color: white;
  background-color: #800780;
  width: 60%;
}
.know-how {
  margin: 1rem auto 3rem;
  box-shadow: rgb(0, 0, 0, 20%) 0px 3px 5px;
}
.how-work {
  height: 4rem;
  width: 15rem;
  font-size: 1.3rem;
  font-weight: 600;
  border: 0.3rem solid #800780;
  color: #800780;
}
.explore {
  width: 23rem;
  height: 4.5rem;
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
}
.wid {
  width: 97%;
  margin: 0 auto;
}
.main-sec {
  background-color: #dcbadc;
  padding: 2rem 4rem;
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: rgb(0, 0, 0, 25%) 0px -5px 5px;
}
.just {
  margin-top: 1rem;
  text-align: justify;
  font-size: 1.4rem;
  font-weight: 400;
}
.video {
  width: 28rem;
  position: relative;
  padding: 1.5rem 0 1.5rem 3rem;
}
.video div {
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.play {
  background: none;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 2.5rem;
  border: 0.3rem solid #800780;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.stats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  /* justify-items: center; */
  text-align: center;
  background-color: #7e267e;
  padding: 2rem 8rem;
  color: #7e267e;
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.7rem;
}
.stats h3 {
  font-size: 1.8rem;
  font-weight: 800;
}
.stats div {
  display: grid;
  align-content: center;
  background: linear-gradient(125deg, #fefefe, #a76ca7);
  width: 13.5rem;
  height: 10rem;
  padding: 0.2rem;
  border-radius: 2rem;
  box-shadow: rgb(0, 0, 0, 25%) 0px 5px 5px;
  margin-bottom: 0.5rem;
}
.recipe-head {
  width: 30rem;
  padding: 1rem 6rem;
}
.card-shine {
  position: relative;
  background: conic-gradient(
    at 4rem,
    #dcbadc,
    white 20%,
    #dcbadc 30%,
    white 50%,
    #dcbadc 80%,
    white 90%,
    #dcbadc
  );
  margin-top: 12rem;
  padding: 12rem 3rem 4rem 6rem;
  border-radius: 0.5rem;
  box-shadow: rgb(0, 0, 0, 25%) 0px 5px 5px;
}

.card-shine ul li {
  position: relative;
  margin-bottom: 3rem;
  padding-left: 2rem;
  font-size: 1.3rem;
  font-weight: 600;
}
.card-shine ul li:after {
  /* bullets */
  content: url("iconmonstr-triangle-1-2401.png");
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -14px; /*adjust manually*/
  top: 0px;
  border-radius: 0.8rem;
  width: 4rem;
  height: 3rem;
  background: conic-gradient(
    at 50%,
    #800780,
    #8007808e 20%,
    #800780 30%,
    #800780a2 50%,
    #800780 80%,
    #800780a6 90%,
    #800780
  );
  transform: translate(-50%, -30%);
}
.card-shine ul li:before {
  /* lines */
  content: "";
  position: absolute;
  left: -14px; /* adjust manually */
  top: 0;
  border-left: 1px solid #8007806b;
  height: 80px;
  width: 1px;
}
.card-shine ul li:first-child::after {
  width: 5rem;
  height: 4rem;
}
.card-shine ul li:first-child:before {
  top: 18px;
}
.card-shine ul li:last-child:before {
  height: 0px;
}
.comp {
  width: 28rem;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 0.5rem;
  box-shadow: rgb(0, 0, 0, 30%) 0px 3px 5px;
}

.money-back {
  margin-top: 2rem;
  color: white;
  padding: 2rem 4rem 2rem;
  border-radius: 0.8rem;
  box-shadow: rgb(0, 0, 0, 25%) 0px 5px 5px;
  background: linear-gradient(to right, #b46fcf, #8657c1);
  font-weight: 600;
}
.rewards {
  width: 25rem;
  border-radius: 1rem;
  margin-top: 1rem;
  box-shadow: rgb(0, 0, 0, 30%) 0px 3px 5px;
}
.money-back p {
  font-size: 1.6rem;
  font-weight: 600;
}
.categories {
  display: flex;
  width: 97%;
  overflow: scroll;
}
.know-more {
  padding: 1rem;
  font-weight: 700;
  font-size: 1.8rem;
  border: none;
}
.skills {
  background-color: #efe4ef;
  padding: 3rem 2rem;
  text-align: left;
}
.skills-head {
  margin-top: 0;
  width: 30rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categories button {
  border-radius: 4rem;
  border: none;
  display: flex;
  gap: 0.5rem;
  color: #a64ea6;
  background-color: #dec2de;
  font-weight: 600;
  font-size: 1.4rem;
  margin-left: 2rem;
}
.categories button:hover {
  background: conic-gradient(
    at 50%,
    #800780,
    #8007808e 20%,
    #800780 30%,
    #800780a2 50%,
    #800780 80%,
    #800780a6 90%,
    #800780
  );
  color: white;
}

.arrow {
  width: 2rem;
  height: 2rem;
}
.course-container {
  background-color: #efe4ef;
  text-align: center;
}
.courses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  padding: 2rem 8rem;
  gap: 1.6rem;
}
.courses div {
  height: 20rem;
  background-color: #7e267e;
  width: 15rem;
  color: white;
  border-radius: 1.5rem;
  box-shadow: rgb(0, 0, 0, 30%) 0px 3px 5px;
}
.courses div img {
  width: 92%;
  margin-bottom: 2rem;
}
.see-more {
  width: 12rem;
  padding: 0.5rem;
  font-weight: 500;
  text-align: center;
  font-size: 1.8rem;
  border-radius: 1rem;
  border: none;
}

.hear {
  position: relative;
  background: linear-gradient(to bottom, #fff 65%, #8a158a 35%);
  padding: 5rem 0rem 2rem 2rem;
}
.hear .flexDis {
  overflow: scroll;
}
.others {
  border-radius: 1rem;
  padding: 2rem;
  border: 0.3rem #8a158a solid;
  text-align: left;
  margin: 3.8rem 1rem;
  background-color: white;
  box-shadow: rgb(0, 0, 0, 30%) 0px 3px 5px;
}
.others img {
  border-radius: 50%;
  margin-right: 1rem;
  box-shadow: rgb(0, 0, 0, 30%) 0px 3px 5px;
}
.others .intro {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.others p {
  width: 20rem;
  margin-left: 4rem;
  color: rgba(0, 0, 0, 0.966);
}
.others a {
  text-decoration: none;
  color: #8a158a;
  font-weight: 700;
}
.grey {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.5) !important;
  font-size: 1.2rem;
  font-weight: 600;
}
.next-btn {
  border-radius: 50%;
  background-color: #8a158a;
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 1rem;
  box-shadow: rgb(0, 0, 0, 30%) 0px 3px 5px;
}
.other-courses {
  background-color: #8a158a;
  color: white;
  padding: 0 0 2rem 0;
}
.other-courses h3 {
  font-size: 1.8rem;
}
.other-courses-card {
  background: linear-gradient(160deg, #fefefe 25%, #a76ca7);
  width: 30rem;
  border-radius: 2rem;
  margin: 2rem auto;
  height: 17.5rem;
  position: relative;
  text-align: left;
  padding: 1rem 5rem;
  box-shadow: rgb(0, 0, 0, 30%) 0px 3px 5px;
}
.other-courses-card h3 {
  color: #fe15fe;
  font-weight: 600;
  margin-bottom: 1rem;
}
.other-courses-card span {
  color: #000;
  font-size: 1.3rem;
  font-weight: 600;
}
.other-courses-card p {
  color: #8a158a;
  font-size: 1rem;
  font-weight: 500;
  margin: 0.8rem 0;
}
.other-courses-card .grey {
  text-decoration: line-through;
}
.other-courses-card span div {
  flex-direction: column;
  margin-left: 0.5rem;
}
.other-courses-card::before {
  content: "";
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: #8a158a;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  border-right: solid 0.4rem rgba(0, 0, 0, 0.144);
}
.second::after {
  content: "save \20B9 10180";
}
.first::after {
  content: "save \20B9 1297";
}
.other-courses-card::after {
  text-align: center;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background: conic-gradient(
    at 50%,
    #800780,
    #800780cc 20%,
    #800780 30%,
    #800780c0 50%,
    #800780 80%,
    #800780b9 90%,
    #800780
  );
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(35%, -50%);
  border-right: solid 0.2rem rgb(0, 0, 0, 25%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  box-shadow: rgb(0, 0, 0, 50%) 0px 0px 6px;
}

.other-courses-card button {
  margin-left: 1.5rem;
  background-color: #8a158a;
  border-radius: 2rem;
  color: white;
  border: none;
  width: 17rem;
  height: 3.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  box-shadow: rgb(0, 0, 0, 50%) 0px 0px 6px;
  font-weight: 600;
}
.query {
  background: linear-gradient(to bottom, #8a158a 60%, #fff 40%);
  color: white;
}
.query-asked {
  width: 28rem;
  height: 4rem;
  margin: 1.5rem auto;
  background-color: #c8a2c8;
  font-size: 1.3rem;
  text-decoration: none;
  position: relative;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgb(0, 0, 0, 30%) 0px 3px 5px;
}
.query-asked a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.query-asked button {
  width: 4rem;
  height: 4rem;
  position: absolute;
  right: 0;
  border: none;
  border-radius: 0 0.8rem 0.8rem 0;
  background: conic-gradient(
    at 50%,
    #800780,
    #800780cc 20%,
    #800780 30%,
    #800780c0 50%,
    #800780 80%,
    #800780b9 90%,
    #800780
  );
}
::placeholder {
  color: #8a158a;
  opacity: 1;
}
.search-ico {
  margin: 0 1rem;
}
.search {
  color: #8a158a;
  width: 30rem;
  height: 3.8rem;
  border-radius: 1rem;
  border: 0.2rem #8a158a solid;
  display: flex;
  margin: 3rem auto;
  position: relative;
}
.search input {
  border: none;
  width: 22rem;
}
.search button {
  width: 3.8rem;
  height: 3.8rem;
  position: absolute;
  top: -0.2rem;
  right: -0.2rem;
  border: none;
  border-radius: 0 1rem 1rem 0;
  background: conic-gradient(at 50%, #800780, #800780b9 90%, #800780);
  background: linear-gradient(0.5turn, #800780, #800780b9, #800780);
}
footer {
  background-color: black;
  color: white;
  text-align: left;
  padding: 2rem;
  font-weight: 400;
}
footer ul {
  list-style: none;
  margin-left: 2rem;
  font-size: 1.4rem;
  line-height: 3rem;
}
footer a {
  text-decoration: none;
  color: white;
}
.icons {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 30px 30px;
}
/* } */
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
